
 body{
    margin: 0px;
}

 
 #header{
      /* background-color: #2e6da4dc; */
      background-color: rgba(0, 0, 0, 0.9);
      
      float: left;
      height: 50px;
      width: 100%;

      position: fixed;
      z-index: 1;

  }

/* --------------------------------------------------------- */

   #headerHeadingBox{
      /* background-color: cyan; */
      float: left;
      height: 50px;
      width: 400px;
      color: rgba(255, 255, 255, 0.95);
      letter-spacing: 1.6;
      font-size: x-large;
      margin-left:40px;
  }


     
   #headerHeadingBox h3{
     margin: 0px;
     padding-top: 10px;
     padding-left: 10px;
   }

       
/* ------------------------------------------------------------------------- */



    #div1{
          /* background-color: yellow; */
          float: left;
          height: 150px;
          width: 90%;

          position: relative;
          
          padding-left: 7%;
          margin-top: 80px;

          text-align: center;
    }


    #div1 img{
        height: 110px;
        width: 150px;

        
    }

    #div1 span{
      display: block;
      font-size: x-large;

       
   }


   #div2{
        /* background-color: yellow; */
         float: left;
          height: 300px;
          width: 1000px;

          position: relative;
          top: 55;
          
          margin-top: 30px;
          margin-left: 180px;

          text-align: center;
    }


    .div3{
        float: left;
        height: 300px;
        width: 455px;
        margin-left: 30px;

        text-align: center;
    }

    .div3 img{
       height: 250px;
       width: 300px;
       margin-top: 20px;
       border: 1px solid black;
    }


    .div3 span{
       display: block;
       font-size: x-large;
    }


    .div3 a{
        color: black;
        text-decoration: none;
    }
