
   body{
    background-color: ecedf3;
}

/* -------------------------------------------------------------- */


   #container{
       background-color: white;
       height: 470px;
       width: 500px;
      
       margin-left: 400px;
       margin-top: 20px;
       float: left;
       border: 1px solid #2e6da4;
   }
   
/* -------------------------------------------------------------- */
#containerHeadingBox{
    background-color: white;
    width: 400px;
    margin-left: 50px;
    float: left;
    text-align: center;
}

#containerHeadingBox h1{
    color: #2e6da4;

    margin: 10px 10px;
   
}



/* -------------------------------------------------------------- */


 #emailBox,
 #passwordBox{
      margin-top: 20px;
      margin-bottom: 20px;
      float: left;
      width: 500px;    

 }

 #emailBox label,
 #passwordBox label{
     margin-left: 10%;
     margin-bottom: 20px;
    font-size: 23px;
    color: #2e6da4;
 }

 #emailBox input,
 #passwordBox input{
     font-size: x-large;
     display: block;
     width: 80%;
     margin-left: 10%;
     margin-top: 10px;
 }

/* ----------------------------------------------------------------------*/
 
    #forgotBox{
        float: left;
        width: 500px;
        text-align: right;
    }

      #forgotBox a{
        text-decoration: none;
        color: #2e6da4e0;
        font-size: 18px;
        margin-right: 10%;
    }

     #forgotBox a:hover{
        text-decoration:underline;
        color: #2e6da4;
    }
    

/* ----------------------------------------------------------------------*/


 #login{
     margin-top: 15px;
     margin-left: 10%;

     font-size: x-large;
     text-align: center;
     width: 80%;
     height: 40px;
     color: white;
     background-color: #2e6da4ee;
     cursor: pointer;

 }


 #login:hover{
     background-color: #2e6da4;

 }

/* ----------------------------------------------------------------------*/

#signup{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}


 #signup a{
     text-decoration: none;
     color: #2e6da4d7;
 }

 
 #signup a:hover{
     text-decoration: underline;
     color: #2e6da4;
 }

 #goBackLink{
     margin-top: 10px;
     display: block;
 }